<%= form_with model: [ @courier, @courier.packages.build ], local: true, class: 'form' do |form| %>
  <div class="form__row">
    <%= form.label :tracking_number, class: 'form__label' %>
    <%= form.text_field :tracking_number %>
  </div>

  <div class="form__row">
    <%= form.label :delivery_status, class: 'form__label' %>
    <%= form.check_box :delivery_status, class: 'form__checkbox' %>
  </div>

  <div class="form__row">
    <%= button_tag 'Create package', class: 'btn btn--stripe' %>
  </div>
<% end %>
