@import "mixins";
@import "colors";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

body {
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: $white;
  background-color: $gray-dark;
}

main {
  width: 100%;
}

input[type="text"] {
  width: 300px;
  max-width: 100%;
  height: 36px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 6px;
  font-size: 18px;
}

table {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  background-color: lighten($gray, 10%);
  box-shadow: inset 0 0 3px 1px $gray-dark;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: $gray;
}

.aside {
  margin-top: 40px;
  padding: 20px;
  background-color: lighten($gray, 10%);
  box-shadow: inset 0 0 3px 1px $gray-dark;
}

.btn {
  @include reset-button;
  display: inline-block;
  padding: 12px 20px 18px;
  border: 2px solid $black;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  cursor: pointer;
  transition: all .5s ease;

  &:hover {
    background-color: darken($blue, 15%);
  }

  &--danger {
    background-color: $red;

    &:hover {
      background-color: darken($red, 15%);
    }
  }

  &--stripe {
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 7px;
      border-top: 1px solid $black;
      background-image: repeating-linear-gradient(
                      45deg,
                      $black,
                      $black 1px,
                      transparent 2px,
                      transparent 5px
      );
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background-size: 7px 7px;
    }

    &:hover {
      &::after {
        border-top: 1px solid $black;
        background-image: repeating-linear-gradient(
                        45deg,
                        $white,
                        $white 1px,
                        transparent 2px,
                        transparent 5px
        );
        animation: stripe-slide 6s infinite linear forwards;
      }
    }
  }

  &--back {
    margin-top: 20px;
  }

  & + & {
    margin-left: 20px;
  }
}

.error-explanation {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px 20px;
  color: $red;
  background-color: lighten($red, 50%);
}

.form {
  &__row {
    & + & {
      margin-top: 16px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 4px;
  }
}

@keyframes stripe-slide {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }

  &-check::after {
    content: "✔";
    color: $green;
  }

  &-cross::after {
    content: "✘";
    color: lighten($red, 5%);
  }
}

.flex {
  display: flex;
}

.overflow {
  overflow: auto;
  border-radius: 10px;
}

@media (min-width: 920px) {
  .page {
    flex-direction: row;
  }

  .aside {
    margin-top: 0;
    margin-left: 40px;
  }
}