<%= form_with model: @courier, local: true, class: 'form' do |form| %>
  <% if @courier.errors.any? %>
    <div class="error-explanation">
      <h3>
        <%= pluralize(@courier.errors.count, "error") %> prohibited this courier from being saved:
      </h3>

      <ul>
        <% @courier.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__row">
    <%= form.label :name, class: 'form__label' %>
    <%= form.text_field :name %>
  </div>

  <div class="form__row">
    <%= form.label :email, class: 'form__label' %>
    <%= form.text_field :email %>
  </div>

  <div class="form__row">
    <%= button_tag 'Save', class: 'btn btn--stripe' %>
  </div>
<% end %>
