<main>
  <h1 class="page__title">Couriers</h1>

  <% if @couriers.any? %>
    <div class="overflow">
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>

        <% @couriers.each do |courier| %>
          <tr>
            <td><%= courier.name %></td>
            <td><%= courier.email %></td>
            <td class="flex"><%= link_to 'Show', courier_path(courier), class: 'btn btn--stripe' %><!--
            --><%= link_to 'Edit', edit_courier_url(courier), class: 'btn btn--stripe' %><!--
            --><%= link_to 'Destroy', courier_path(courier), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn--stripe btn--danger' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <p>No couriers yet. Please, add some</p>
  <% end %>

  <%= link_to 'New courier', new_courier_path, class: 'couriers__add btn btn--stripe' %>
</main>
