<main>
  <h1>
    <%= @courier.name %>
  </h1>

  <p>
    <%= @courier.email %>
  </p>

  <div class="courier__packages">
    <h2>Packages</h2>

    <% if @courier.packages.any? %>
      <div class="overflow">
        <table>
          <tr>
            <th>Tracking number</th>
            <th>Delivered?</th>
            <th>Actions</th>
          </tr>

          <% @courier.packages.each do |package| %>
            <tr>
              <td><%= package.tracking_number %></td>
              <td><span class="icon icon-<%= package.delivery_status ? 'check' : 'cross' %>"></span></td>
              <td><%= link_to 'Destroy', [package.courier, package], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn--stripe btn--danger' %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% else %>
      <p>No packages yet. Please, add some</p>
    <% end %>
  </div>

  <%= link_to 'Edit', edit_courier_url(@courier), class: 'btn btn--stripe' %>
  <%= link_to 'Back', couriers_path, class: 'btn btn--stripe btn--back' %>
</main>

<aside class="aside">
  <h2>Add a package:</h2>
  <%= render 'packages/form' %>
</aside>
